<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h5>By the Promo Team</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>Plasma does Hardware</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-right">
                                <img width="100%" src="images/pinephone_plasma_01.jpg" alt=""/>
                                <figcaption>The Pinephone development board running postmarketOS and Plasma Mobile.</figcaption>
                            </figure>                            
                        
                            <p>Manufacturers took notice of Plasma's adaptability in 2018 and started installing KDE's desktop on their devices. <a href="https://slimbook.es/en/">Slimbook</a> took the lead and released a KDE version of their sleek ultrabook back in January 2017. Then they upped the ante in February 2018 with the <a href="https://kde.slimbook.es/">KDE Slimbook II</a>, which came with more powerful hardware and a customized KDE neon operating system.</p>

                            <p>While Slimbook aimed for the higher end of the ultrabook market, <a href="https://www.pine64.org/">Pine64</a> decided to go with "affordable" when they released the <a href="https://www.pine64.org/pinebook/">Pinebook</a>. This thin and light netbook is built around their ARM-based single-board computer, and costs only 99 USD. It turns out that Plasma is perfectly adapted for that too, and developers collaborated with Pine64 to make sure everything worked smoothly out of the box.</p>

                            <p>Pine64 was not done, though. Towards the end of the year, they announced they were working on a Linux-based mobile device, dubbed the <a href="https://www.pine64.org/pinephone/">PinePhone</a>. The PinePhone will run the postmarketOS Linux distribution and Plasma Mobile as its graphical environment.</p>

                            <p><a href="https://puri.sm/">Purism</a> also announced its <a href="https://puri.sm/products/librem-5/">Librem 5</a> in 2018. This mobile phone is designed to protect users' privacy. Purism and KDE developers are working together to guarantee that Plasma Mobile will also work on the device.</p>

                            <p>Finally, <a href="https://mycroft.ai/">Mycroft</a>, creators of the successful open source IA personal assistant, are building the version 2 of their Mark device, and KDE is powering the interface. The original device used LEDs to display information, but Mycroft Mark II comes with a touchscreen. <a href="https://mycroft.ai/blog/mark-ii-update-january-2019-current-progress/">Plasma developers started collaborating with Mycroft engineers</a> in November 2018 to bring KDE goodness to the intelligent speaker.</p>

                            <h3>Kdenlive Lives...</h3>

                            <p>New developers and team members breathed new life into KDE's full-featured video editor, <a href="https://kdenlive.org/en/">Kdenlive</a>, in 2018. The team released no less than four versions throughout the year. At the same time, the developers were working on a major refactoring of the back-end code that culminated in version 19.04, released in April 2019.</p>

                            <p>Kdenlive team members also worked hard on community outreach and promotion, organizing virtual Kdenlive Cafés. In the Cafés, users asked about anything Kdenlive-related, commented on features, and pitched suggestions. The team also held sprints, delivered talks and ran workshops.</p>

                            <p>All this work has resulted in Kdenlive becoming one of the best and most well-known open source video editors in the field.</p>

                            <h3>Updating Userbase</h3>

                            <p>Documenters have been updating Userbase since September 2018. Userbase is the wiki aimed at KDE users and enthusiasts. The old screenshots from the KDE 3 and KDE 4 eras are now gone, and Userbase pages show the improvements of the new versions of Plasma and KDE applications. Writers have added several new tutorials, and plenty of other content has also been updated.</p>

                            <p>This effort is part of the ongoing goal to provide more helpful information for KDE users.</p>

                            <h3>KDE's Influence Grows</h3>

                            <p>Most of KDE's success stories are incredibly impressive, but would go less noticed if it weren't for the contributors who spread the word outside the KDE community.</p>

                            <p>The Promo team ramped up the social media activity in 2018 - and it paid off. <a href="https://twitter.com/kdecommunity">KDE's Twitter</a> was started in September 2008, and in nine years it reached 48.600 followers. That is 5400 followers a year, which is not bad at all. However, in the last two years, the Promo team has averaged over 9000 followers a year, pushing the total readership well over 65.000 followers.</p>

                            <p>Likewise, in September 2018 the Promo team took over KDE's LinkedIn account. The aim was to reach an audience of business-oriented people. We doubled the number of followers in 4 months, and the growth has continued constantly ever since.</p>

                            <p>As for appearances in press, in 2017 KDE was mentioned slightly less than 80 times. In 2018, mentions grew to 120 times. KDE's environments, applications and technologies are mentioned in influential online publications regularly now.</p>

                            <p>This has also helped to increase the number of contributions. More contributors allow us to set up our own events better, sponsor developers so they can attend sprints, deploy contributors to conferences and fairs, and provide travel, accommodation and materials for all those things.</p>

                            <p>Beyond the purely monetary aspect, having a strong promo activity ends up helping everyone: it helps developers and contributors gain recognition for their work; the community can receive more support and the number of its members increases; users can discover our software and start enjoying the advantages of using a friendly, full-featured graphical environment and applications; and businesses can discover spectacular tools that allow them to create beautiful and maintainable applications in less time.</p>

                            <p>To summarize: 2018 has been a successful year for KDE in general. We laid down the ground work for more successes to come in the future.</p>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br/>
</section>
