.logo-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  img {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.img-patrons { img { flex-basis: 30%; max-width: 30%; } }
.img-supporters { img { max-width: 20%; max-height: 4em; } }

#memberList li {
  display: inline;
  width: 33%;
  float: left;
}

.qt {
  content: url("/images/logos/QtGroup.png");
}

@media (prefers-color-scheme: dark) {
  .qt {
    content: url("/images/logos/QtGroup_dark.png");
  }
}
