---
---

body {
  font-size: 18px !important;
  @media (max-width: 1000px) {
    font-size: 17px !important;
  }
  @media (max-width: 700px) {
    font-size: 16px !important;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #028fcc;

  &::after {
    background-image: inherit;
    height: 0;
  }
}

header::after {
  background-image: inherit;
  height: 0;
}

.navbar .navbar-brand.active {
  width: 100px;
  height: 70px;
  padding-right: 1rem;
  background-color: #028fcc;
}

@media (max-width: 992px) {
  .navbar .navbar-collapse .navbar-nav .nav-item  {
    background-color: #fff;
    a.nav-link {
      color: black;
      font-size: 0.95rem;
      height: 50px;
      line-height: 50px;
    }
    @media (prefers-color-scheme: dark) {
      background-color: #111;
      a.nav-link {
        color: white;
      }
    }
  }
}
@media (min-width: 992px) {
  .img-desktop-right {
    float: right;
  }
}

.navbar .navbar-collapse .nav-item {

  a.nav-link {
    height: 70px;
    line-height: 70px;
    font-size: 1rem;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;


    &.active {
      background-color: rgba(0,0,0,.2);
    }
  }
}

.navbar {
  height: 70px;
}

.carousel-fade .carousel-inner .active {
  max-height: 100%;
  background-size: cover;
}

#home-slider {
  max-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar button {
  color: white;
  &::before {
    color: white;
  }
}

img {
  max-width: 100%;
}

blockquote {
  font-family: 'Droid Sans', sans-serif;
  border-left: none
}

.inner-block {
  overflow: hidden;
  border-radius: 17px;
  background-color: #028fcc;
  margin-top: 25px;
  color:  white;
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
}

.block-text {
  font-size: 16px;
  margin-top: 13px;
}

h2 img {
  height: 35px;
}

.bg-medium {
  background-color: #bdbdbe;
  @media (prefers-color-scheme: dark) {
    background-color: darkblue;
  }
}

@media (prefers-color-scheme: dark) {
  .text-muted {
    color: #dedede!important;
  }
  img[src="images/logos/kde-logo.png"] {
    filter: invert(100%); 
  }
}

img[src=""] {
  display: none;
}

.new-members {
  background-color: #e8f6fd;
  @media (prefers-color-scheme: dark) {
    background-color: #e8f6fd22;
  }
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    font-size: 3rem;
    margin-top: 0.5rem;
  }
  h3.text-muted {
    font-size: 1.7rem;
  }
}

.thoughts-from-partners {
  font-size: 1rem;
  line-height: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    font-size: 3rem;
    margin-top: 0.5rem;
  }
  h3.text-muted {
    font-size: 1.4rem;
  }
}

.thoughts-container {
  display: flex;
  flex-direction: row;
}

#quote-photo {
  flex-basis: 800px;
}

.kde-e-v-board-of-directors {
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    margin-top: 0;
  }
}

.highlights {
  background-color: #e1fd1011;
  color: #2c1d4a;
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    font-size: 3rem;
    color: #2c1d4a;
    margin-top: 0.5rem;
  }
  h3.text-muted {
    font-size: 1.4rem;
    color: #2c1d4a !important;
  }

  @media (prefers-color-scheme: dark) {
    &, h2, h3.text-muted {
      color: #efefef;
    }
  }
}

.partners {
  background-color: #da445322;
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  h2 {
    font-size: 3rem;
    margin-top: 0.5rem;
  }
  a {
    text-decoration: underline;
  }
}

.img-circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.board {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  p {
    margin-top: 0.75rem;
  }

  i {
    font-size: 1.2rem;
  }
}

#home-slider .caption {
 top: 10%;
 margin-top: 0;
}

main section#about-kdeev {
  margin-top: 0;
}
