<p><a href="https://phabricator.kde.org/project/view/313/"><I>KDE is All About the Apps</I></a> is a goal to redefine how KDE and our users see our apps. We want to take the apps to the users, who should be able to get the latest and greatest versions on whatever device they have. That means working with app stores to get our apps in to them; it means embracing the other platforms that our Qt and KDE Frameworks tech allow us to embrace; and it means promoting all those things to the world.</p>

<p>We now have monthly app update stories which show what has been released in the last month. Importantly these also say how you can get the apps, pointing at the app stores where you can find our software. We want to be proud to have our stuff available through <a href="https://www.microsoftstore.com/">Microsoft's store</a>. We also want to be prominent on the competition to Microsoft's Store, so you'll also find KDE apps on <a href="https://chocolatey.org/">Chocolatey for Windows</a>. The same goes for Android where we are on the popular <a href="https://play.google.com/">Google Play</a> store and the more Open Source friendly <a href="https://f-droid.org/">F-Droid</a>. As Linux users start to move to container formats we want to be there too, so we are on the Flatpak Hub <a href="https://flathub.org/home">Flathub</a>, the Snap store <a href="https://snapcraft.io/store">Snapcraft</a> and <a href="https://appimage.github.io">Appimagehub</a> too.</p>

<p>Beyond stores, we have <a href="https://kde.org/applications ">a web page which lists our apps</a>, and we want to promote a culture of listing versions and releases here using Appstream meta data.</p>

<p>We welcome more people helping out and there's plenty of low hanging fruit you can help us with by getting our hundreds of great games, educational apps and tools into the new stores. So visit us and say "hi" on our <a href="https://phabricator.kde.org/project/view/313/">Phab board</a> or drop by our  <a href="https://webchat.kde.org/#/room/#kde-all-about-apps:kde.org"><I>All About the Apps</I> Matrix channel</a>.<p>                            
