<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2>Featured Article &#8210; Plasma Mobile in 2017</h2>
                    <h5>By Bhushan Shah and Eike Hein</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
				<p>Back in the summer of 2015, <a href="https://dot.kde.org/2015/07/25/plasma-mobile-free-mobile-platform" target="_blank">we announced Plasma Mobile</a> as a community effort to bring <a href="http://plasma-desktop.org/" target="_blank">Plasma</a> and other KDE technologies to handheld devices. This was a big step towards building a free operating system for smartphones. Learning from the ramp-up tasks and learning experiences of those first few years, in 2017 we saw major revisions to the architecture of Plasma Mobile OS images for supported devices. As a result, users are now porting Plasma Mobile to a wide variety of phones. Closely related is the new collaboration with the wider community of users and developers of Free Software and operating systems for mobile devices. The community has greatly helped with porting Plasma Mobile.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
			    <h3>Project Halium: Free Device Systems Join Forces</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
			    <p>Plasma Mobile components use open standards to interface with the rest of the system. For example, OpenGL is used to render the user interface. However, current devices often require proprietary OpenGL drivers. Many of these drivers are developed for the Android operating system and only work in the context of that system. In Plasma Mobile's original architecture, the frontend was run inside a container on a stripped down Android host system adjusted to a particular device.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
			    <p>This architecture turned out to be difficult to operate in practice. It also kept too much of the basic operating system from our direct control. We decided that the right way to go about this was to turn everything on its head: the only Android bits we really care about were the kernel and drivers needed to run the device. Consequently, in a modern Plasma Mobile device image, we run a traditional Linux host system with the Android tree for the device containerized within it. This allows us to have significantly more freedom from the side of the host system. In fact, it helps everybody, since images based on multiple different Linux distributions have been implemented since. The new approach also helps with KDE's goals of privacy and security, since external Android code can be sandboxed.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
				<p>Plasma Mobile is not the only free device OS project that currently needs to tame Android to run on existing hardware. It makes obvious sense to share the work on this tooling between the communities. For one, this gives the community a central target to join in porting all of those free systems to additional devices. The Plasma Mobile project acts as a founding member of <a href="https://halium.org/" target="_blank">Project Halium</a>. The initiative was set up in 2017 to maintain this approach to reusing Android drivers in alternative operating systems for mobile devices. Project Halium has proven enormously successful at implementing these goals since. Ports of Halium and Plasma Mobile to many new devices are now in varying stages of completeness, and most of them were created by new contributors.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
			    <h3>Downstream Communities: postmarketOS</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
				<p>2017 also saw the inception of <a href="https://postmarketos.org/" target="_blank">postmarketOS</a>, a project started by Oliver Smith, an independent developer. postmarketOS aims to provide devices with what vendors fail to offer: a 10-year software lifecycle. Since its announcement in the spring of 2017, the project has gathered significant attention. postmarketOS is interested in providing the Plasma Mobile user interface to its users. Unlike Project Halium, which is about making use of vendor-provided binary blobs to support as many existing devices as possible, postmarketOS makes a point of using open drivers and avoiding binary blobs where it can. As per its founding motivation, the project tries to help with streamlining as much driver code as possible to keep older devices supported. postmarketOS' device images are based on the Alpine Linux distribution. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
			    <p>The Plasma Mobile team has been working closely with postmarketOS developers to make their dream a reality. Early successes of this collaboration include getting Plasma Mobile to run on postmarketOS' base system, and demonstrating a device image that uses a mainline kernel to run on actual hardware #8210; free of proprietary binaries.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
			    <h3>Hardware on the Horizon: Purism Librem 5</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
				<p>The previous two stories focused on the software side of things. Another exciting development in late 2017 was the announcement of dedicated hardware for Plasma Mobile. <a href="https://puri.sm/" target="_blank">Purism</a>, a company known in the community as the Linux-focused laptop PCs maker, concluded a successful crowdfunding campaign for a security- and privacy-focused smartphone: <a href="https://puri.sm/shop/librem-5/" target="_blank">The Librem 5</a>. During the campaign, Purism announced a formal collaboration with the KDE community. They committed to help develop Plasma Mobile for the planned device. The Librem 5 hardware will be based around the Freescale NXP i.MX6 or i.MX8 ARM CPU and Vivante GPU, both of which are supported by Free software drivers on Linux.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
				<p>Quickly after the funding campaign ended, Purism engineer and Debian developer Matthias Klump already <a href="https://puri.sm/posts/running-plasma-mobile-on-an-imx6-test-board/" target="_blank">demonstrated Plasma Mobile running on Purism's i.MX6 development board</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
			    <h3>Kirigami helps applications get ready for Plasma Mobile</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
 			    <p>A KDE project closely related to Plasma Mobile is the user interface framework <a href="https://www.kde.org/products/kirigami/" target="_blank">Kirigami</a>. Kirigami focuses on providing application developers with tools to create convergent applications, that is, applications that easily run on both desktop and handset devices, seamlessly adapting to each form factor. Application developers, from KDE and other parties, started adopting Kirigami in 2017. Kirigami-based applications target Plasma Mobile, but also Android and iOS, Plasma Desktop, Microsoft Windows and other platforms.</p>
			    <p>Inside the KDE community, developers of the group chat application Konversation started <a href="https://blogs.kde.org/2017/09/05/konversation-2x-2018-new-user-interface-matrix-support-mobile-version" target="_blank">revamping its user interface using Kirigami</a>, with support for Plasma Mobile listed as an explicit motivation. <a href="https://github.com/KDE/ruqola" target="_blank">Ruqola</a>, <a href="https://www.calligra.org/" target="_blank">Calligra Gemini</a>, <a href="https://userbase.kde.org/Koko" target="_blank">Koko</a>, <a href="https://userbase.kde.org/Kamoso" target="_blank">Kamoso</a> and other Kirigami ports joined this effort of moving to Kirigami. Their aim was to modernize their user experience and provide first-class support for mobile devices.</p>
			    <p>Other projects have also show interest in moving to Kirigami. Some of them are <a href="https://git.kaidan.im/kaidan/kaidan" target="_blank">Kaidan</a>, a modern XMPP/Jabber-based messaging client; <a href="https://subsurface-divelog.org/" target="_blank">Subsurface</a>, a diving log tool; and <a href="https://vvave.kde.org/" target="_blank">Vvave Media Player</a>. 2017 was the most productive and exciting year for Plasma Mobile since its inception, and 2018 looks poised to surpass it in every way. Thanks to initiatives like <a href="https://halium.org/" target="_blank">Project Halium</a> and <a href="https://postmarketos.org/" target="_blank">postmarketOS</a>, we expect Plasma Mobile to become available on many more devices. Purism's <a href="https://puri.sm/shop/librem-5/" target="_blank">Librem 5</a> is shaping up to provide Plasma Mobile with hardware specifically created with Free software in mind. Finally, thanks to Kirigami, Plasma Mobile is quickly evolving into a vibrant application ecosystem for users to enjoy.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="folio-image">
                                <img class="img-responsive" src="images/plamo.jpg" alt=""/>
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3>KDE Power Up!</h3>
                                            <p>KDE Plasma Mobile marketing campaign at Qt World Summit 2017</p>
                                        </div>
                                        <div class="folio-overview">
                                            <span class="folio-expand">
                                                <a href="images/plamo.jpg" data-lightbox="portfolio">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</section>
